POSTGRES_USER=portfolio
POSTGRES_PASSWORD=change_me_in_production
POSTGRES_DB=portfolio_db
JWT_ACCESS_SECRET=generate_with_node_-e_console_log_require_crypto_randomBytes_32_toString_hex
JWT_REFRESH_SECRET=generate_a_different_one_with_the_same_command